# gradle

/.gradle
/build
/out
/classes

# eclipse

*.launch

# idea

/.idea
*.iml
*.ipr
*.iws

# vscode

/.settings
/.vscode
/bin
.classpath
.project

# macos

*.DS_Store

# fabric

/run
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
